body {
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
}
.logo{
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 31px;
color: #2196F3;
}
.colortext{
  color:212121 ;
}
.logofooter{
  color: 
  color: ;
}
.nav{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.button{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #212121;
}
.texth2{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 36px;
color: #212121;
}
.textp{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
color: #757575;
}

.link,
.tel{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
color: #757575;
}

.button,
.link:focus{
  color: blue;
}
.tel:hover,
.tel:focus{
  color: yellow;
}
.text500{
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;

}